<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.demo.mapper.DesignUserMapper">
    <select id="selectAll" resultType="com.example.demo.member_master.DesignUser">
		SELECT kaiin_id as kaiinId
		      ,gd_name as gdNm
		      ,tel_no as telNo
		      ,add_no as addNo
		      ,add1_name as add1
		      ,add2_name as add2
		      ,add3_name as add3
	   	FROM jps_user.member_master
    </select>
</mapper>
